{% extends "layout.html" %}
    {% block content %}
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('static/images/temp1.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>Info</h1>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('static/images/temp2.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>Info</h1>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('static/images/temp3.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>Info
                        </h1>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

        <div class="section">

            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img class="img-circle" src="static/images/mission.png">
                        <h3> Our Mission </h3>
                        <p>AID supports grassroots organizations in India and initiates efforts in various interconnected spheres such as education, livelihoods, natural resources, health, women's empowerment and social justice.</p>

                        <div class="col-lg-2 col-md-4">
                            <a class="btn btn-lg btn-primary pull-left" href="{{ url_for('about') }}">Our Mission</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="img-circle" src="static/images/donate.png">
                        <h3> Donate </h3>
                        <p>Help us make a positive difference. Your support would help us create many stories of Courage, Commitment & Change. All your donations are tax deductible under 501(c)(3)</p>
                        <div class="col-lg-4 col-md-4">
                            <a class="btn btn-lg btn-primary pull-left" href="{{ url_for('donate') }}">Donate</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="img-circle" src="static/images/volunteer.png">
                        <h3>Volunteer </h3>
                        <p>Come join us in addressing grassroot level issues like literacy, healthcare, livelihood, etc.. Help us with project reviews, treasury, organize talks, onsite project visits in India etc..</p>
                        <div class="col-lg-2 col-md-4">
                            <a class="btn btn-lg btn-primary pull-left" href="{{ url_for('volunteer') }}" >Volunteer</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <hr>

        <span class="divGreenRect">&nbsp;&nbsp;&nbsp;POPULAR EVENTS&nbsp;&nbsp;&nbsp;</span>
            <table style="width:100%;padding-top:40px">
                <tr>
                    <td style="width:25%">
                            <div style="width:200px;height:200px;background-color:#4dbddd;position:relative" onmouseover="setPropertyTo('icon_RFI',100,'left')" onmouseout="setPropertyTo('icon_RFI',30,'left')">
                                <div class="topBorder">RUN FOR INDIA</div>
                                <img src="static/images/RFI.png" id="icon_RFI" class="overlayIcon" style="left:30px;"/>
                            </div>
                    </td>
                    <td style="width:25%;text-align:-webkit-center">
                            <div style="width:200px;height:200px;background-color:#e37259;position:relative" onmouseover="setPropertyTo('icon_RBR',60,'bottom')" onmouseout="setPropertyTo('icon_RBR',10,'bottom')">
                                <div class="topBorder">ROOBAROO</div>
                                <img src="static/images/roobaroo.png" id="icon_RBR" class="overlayIcon" style="right:20px;"/>
                            </div>
                    </td>
                    <td style="width:25%;text-align:-webkit-center">
                            <div style="width:200px;height:200px;background-color:#e4c35c;position:relative" onmouseover="setPropertyTo('icon_BAQ_L',40,'left'); setPropertyTo('icon_BAQ_R',40,'right')" onmouseout="setPropertyTo('icon_BAQ_L',10,'left'); setPropertyTo('icon_BAQ_R',10,'right')">
                                <div class="topBorder">BANQUET</div>
                                <img src="static/images/banquet_fork.png" id="icon_BAQ_L" class="overlayIcon" style="left:10px;"/>
                                <img src="static/images/banquet_plate.png" id="icon_BAQ_P" class="overlayIcon" style="left:68px;"/>
                                <img src="static/images/banquet_knife.png" id="icon_BAQ_R" class="overlayIcon" style="right:10px;"/>
                            </div>
                    </td>
                    <td style="width:25%">
                            <div style="width:200px;height:200px;background-color:#e65166;float:right;position:relative" onmouseover="setPropertyTo('icon_PFI',30,'bottom'); setPropertyTo('icon_PFI',10,'right'); setPropertyTo('icon_PFI_B',150,'bottom');" onmouseout="setPropertyTo('icon_PFI',10,'bottom'); setPropertyTo('icon_PFI',20,'right'); setPropertyTo('icon_PFI_B',120,'bottom');">
                                <div class="topBorder">PLAY FOR INDIA</div>
                                <img src="static/images/PFI.png" id="icon_PFI" class="overlayIcon" style="right:20px;"/>
                                <img src="static/images/PFI_ball.png" id="icon_PFI_B" class="overlayIcon" style="right:10px;bottom:120px"/>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:25%;vertical-align:top">
                        <div class="tableLeftAlignContent" style="width:200px">Get trained for a marathon and help raise funds for those in need</div>
                    </td>
                    <td style="width:25%;vertical-align:top;text-align:-webkit-center">
                        <div class="tableLeftAlignContent" style="width:200px">Attend our musical conerts, have fun and let us donate the profits to those in need</div>
                    </td>
                    <td style="width:25%;vertical-align:top;text-align:-webkit-center">
                        <div class="tableLeftAlignContent" style="width:200px">Have dinner with your favorite celebreties while the profits are donated to poor</div>
                    </td>
                    <td style="width:25%;vertical-align:top;">
                        <div class="tableLeftAlignContent" style="width:200px;float:right">Participate in our sports events, win prizes and help those in need</div>
                    </td>
                </tr>
            </table>

        {% block customscripts %}

        <script>
            function setPropertyTo(itemID, value, property) {
                var item = document.getElementById(itemID);
                item.style[property] = value + "px";
            }
        </script>
        {% endblock %}

    {% endblock %}